[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=caos
Group=caos
WorkingDirectory=/home/caos/app/src/
Environment="PATH=/home/caos/app/venv/bin"
EnvironmentFile=/home/caos/.env
ExecStart=/home/caos/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target

 